body {
    margin: 0;
}


header {
    background-image: url('assets/worldmap.png');
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 5rem 0 ;
}

header > div > h1 {
    color: #32CD32;
    font-size: 6rem;
    margin: 0 0 1rem 0;
}

header > div > h2 {
    color: white;
    margin: 0;
}

header > img {
    height: 10rem;
    margin-right: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #035A9D;
    margin: 1rem 25rem 0 25rem;
    border: black 0.2rem solid;
    padding: 1rem;
    border-radius: 0.5rem;
}

form > label {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

form > textarea {
    width: 20rem;
    height: 6rem;
    background-color: #EFF0F4;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    resize: none;
    margin-bottom: 1rem;
}

#radio-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.radio-class {
    display: flex;
    align-items: center;
    margin: 0.2rem;
}

.radio-class > label {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: black;
}

.radio-class label > img {
    border: black 0.5px solid;
    margin: 0 0 0 1rem;
}

#translate-btn {
    background-color: #035A9D;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    width: 20rem;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.5rem;
}